%div{:id => 'map_canvas'}

%label{:for => 'location'} Enter zip code:
%input{:id => 'enterLocationField', :type => 'text', :name => 'location', :class => 'text'}
%button{:id => 'mapSearchButton', :onclick => 'searchMap()'} Go!

%ul{:id => 'markerList'} All Markers
		