%h1 Sup Y'all
%div{:id => 'map_canvas'}

%label{:for => 'location'} Enter location:
%input{:id => 'enterLocationField', :type => 'text', :name => 'location', :class => 'text'}
%button{:id => 'mapSearchButton', :onclick => 'searchMap()'} Go!